.language-selector-wrapper {
    display: block;
    float: left;
    margin: 5px 0;
    text-align: left;
    width: 103px;
    cursor: pointer;
}

.paymet_method{
    background-color: #eeeeee;
    padding: 30px 15px;
}
ul#menu li {
    display:inline;
    cursor: pointer;
  }
@media (min-width: 1200px){
.container {
    max-width: 1080px;
}
}
