<section class="paymet_method">
  <div class="container">
    <div class="row">
        <!-- <div>
           <label>
              <select #langSelect (change)="translate.use(langSelect.value)">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
              </select>
            </label>
          </div>
      <a></i>English</a> -->
      <a class="language-selector-wrapper"(click)="changeState()"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;{{'form.languageTitle' | translate}}</a>
      <br />
      <br />
      <div [@changeDivSize]=currentState>
        <ul id="menu">
          <li *ngFor="let lang of translate.getLangs()" (click)="translate.use(lang) && changeState()">
          <a class="language-selector-wrapper">{{ lang }}</a>
          </li>
        </ul>
      </div>
      <br />  
    </div>
  </div>
 <app-home></app-home>
</section>